body {
  font-family: 'Inconsolata', monospace;
}

.jumbotron {
    margin-bottom: 4em;
    border: 40px;
    border-style: solid;
    border-color: white !important;
  }

.flagoff {
  width: 32px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer !important;
  opacity: 0.2;
}

.flagon {
  width: 32px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer !important;
}

